body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.5;
  font-size: .875rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --transition: all .2s ease;
  --spacing: .1rem;
  --radius: .25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --clr-grey-5: rgb(93, 93, 93);
}

h1{
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.25rem;
}
h4{
  font-size: .875rem;
}
p{
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px){
  .section{
    width: 95vw;
  }
}

img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.btn{
  text-align: center;
}

.btn_delete{
  background-color: transparent;
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid rgb(255, 68, 68);
  color: rgb(255, 68, 68);
  padding: .5rem 4em;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  text-transform: uppercase;
  letter-spacing: .5px;
}

.btn_delete:hover{
  background-color: rgb(255, 68, 68);
  color: #fff;
}

main{
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
}

title{
  text-align: center;
  margin-bottom: 3rem;
}

.tours_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  justify-content: space-between;
}

.single_tour{
  background-color: #fff;
  border-radius: 8px;
  margin: 2rem auto;
  box-shadow: var(--light-shadow);
  padding: 1rem;
  text-align: left;
  transition: all .1s ease;
  max-width: 22rem;
}

.single_tour:hover{
  box-shadow: var(--dark-shadow);
  /* transform: scale(1.02); */
}

footer{
  margin: 1rem .5rem;
}

.btn_refresh{
  padding: .8rem 1rem;
  background: rgb(11, 11, 68);
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 4rem;
  cursor: pointer;
}

.read_more{
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.single_tour img{
  height: 20rem;
  width: 100%;
  object-fit: cover;
}